atomicwrites==1.4.0
attrs==21.2.0
Automat==20.2.0
bcrypt==3.2.0
beautifulsoup4==4.10.0
black==21.9b0
certifi==2021.10.8
cffi==1.14.6
click==8.0.3
colorama==0.4.4
constantly==15.1.0
cryptography==35.0.0
cssselect==1.1.0
dataclasses==0.8
hyperlink==21.0.0
idna==3.2
incremental==17.5.0
iniconfig==1.1.1
itemadapter==0.3.0
lxml==4.6.3
more-itertools==8.10.0
mypy-extensions==0.4.3
nested-lookup==0.2.22
numpy==1.21.4
olefile==0.46
packaging==21.0
pandas==1.3.4
parsel==1.5.2
pathspec==0.9.0
Pillow==8.3.2
pip==21.2.4
platformdirs==2.3.0
pluggy==0.13.1
Protego==0.1.16
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDispatcher==2.0.5
PyHamcrest==2.0.2
pyOpenSSL==21.0.0
pyparsing==2.4.7
pytest==6.2.4
pytest-runner==5.3.1
python-dateutil==2.8.2
pytz==2021.3
pywin32==228
queuelib==1.5.0
regex==2021.10.23
Scrapy==2.4.1
service-identity==18.1.0
setuptools==58.0.4
six==1.16.0
soupsieve==2.3
toml==0.10.2
tomli==1.2.2
Twisted==21.2.0
twisted-iocpsupport==1.0.1
typed-ast==1.4.3
typing-extensions==3.10.0.2
w3lib==1.21.0
wheel==0.37.0
wincertstore==0.2
zope.interface==5.4.0
